<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <p class="text-center text-secondary">Sign up to see photos and videos of your friends.</p>
    </div>
  </div>
</div>
